@tailwind base;
@tailwind components;
@tailwind utilities;

progress {
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 0.375rem;
}
progress::-webkit-progress-bar {
  @apply bg-colorb9b rounded-lg;
}
progress::-webkit-progress-value {
  @apply bg-main rounded-lg;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
