@tailwind base;
@tailwind components;
@tailwind utilities;

progress {
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 0.375rem;
}
progress::-webkit-progress-bar {
  @apply bg-colorb9b rounded-lg;
}
progress::-webkit-progress-value {
  @apply bg-main rounded-lg;
}

/* input[id="list"] {
  display: none;
}

.checkbox_img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("https://s.wemep.co.kr/ui/v2.8.307/dist/pc/css/spr/common.png")
    0 -438px no-repeat;
  vertical-align: top;
}

input[id="list"]:checked + label span {
  background-position: -75px -438px;
} */
